{
  "extends": ["airbnb", "airbnb/hooks", "plugin:cypress/recommended", "plugin:jest/recommended"],
  "plugins": ["cypress", "jest"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [2, { "ignorePureComponents": true }],
    "import/no-extraneous-dependencies": [2, {
      "devDependencies": ["dev/**/*.js", "cypress/**/*.js", "**/__mocks__/**/*.js", "**/__tests__/**/*.js"]
    }]
  },
  "overrides": [
    {
      "files": ["*.spec.js"],
      "rules": {
        "jest/expect-expect": 0,
        "jest/valid-expect-in-promise": 0,
        "jest/valid-expect": 0
      }
    }
  ]
}
